// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";


.user-name{
    background: #20A8D4;
    margin-right: -20px !important;
    padding: 3px 20px 3px 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
    font-weight: 600;
}

.img-avatar{
    background: #20A8D4 !important;
}

body {
    font-family: 'Titillium Web', sans-serif !important;
  }